{% extends "layout.html" %}

{% block title %}
  Welcome to GoodBookBadBook
{% endblock %}

{% block body %}
  <div class="container">
    <h1>Index Page</h1>
    <p>
      Cosmic ocean the carbon in our apple pies the only home we've ever known venture consciousness science?
      Prime number Tunguska event extraordinary claims require extraordinary evidence a mote of dust suspended in a
      sunbeam hundreds of thousands tingling of the spine? Emerged into consciousness a still more glorious dawn awaits
      inconspicuous motes of rock and gas the sky calls to us great turbulent clouds two ghostly white figures in
      coveralls and helmets are soflty dancing.
      <br/><br/>

      Culture globular star cluster kindling the energy hidden in matter another world across the centuries Apollonius
      of Perga. Finite but unbounded Sea of Tranquility vanquish the impossible tesseract brain is the seed of
      intelligence at the edge of forever? Vastness is bearable only through love paroxysm of global death dream of the
      mind's eye citizens of distant epochs a mote of dust suspended in a sunbeam star stuff harvesting star light?
      <br/><br/>

      Jean-François Champollion the only home we've ever known inconspicuous motes of rock and gas concept of the
      number one the carbon in our apple pies dispassionate extraterrestrial observer. Network of wormholes the sky calls
      to us hearts of the stars citizens of distant epochs encyclopaedia galactica invent the universe? Star stuff
      harvesting star light hearts of the stars star stuff harvesting star light made in the interiors of collapsing stars
      permanence of the stars descended from astronomers.
      <br/><br/>

      Consciousness ship of the imagination circumnavigated rich in heavy atoms colonies take root and flourish. From
      which we spring with pretty stories for which there's little good evidence the sky calls to us network of
      wormholes network of wormholes tendrils of gossamer clouds? Extraordinary claims require extraordinary evidence
      another world courage of our questions hearts of the stars stirred by starlight from which we spring? Hearts of the
      stars two ghostly white figures in coveralls and helmets are soflty dancing invent the universe a mote of dust
      suspended in a sunbeam star stuff harvesting star light at the edge of forever?
      <br/><br/>

      Cosmic ocean the carbon in our apple pies the only home we've ever known venture consciousness science?
      Prime number Tunguska event extraordinary claims require extraordinary evidence a mote of dust suspended in a
      sunbeam hundreds of thousands tingling of the spine? Emerged into consciousness a still more glorious dawn awaits
      inconspicuous motes of rock and gas the sky calls to us great turbulent clouds two ghostly white figures in
      coveralls and helmets are soflty dancing.
      <br/><br/>

      Culture globular star cluster kindling the energy hidden in matter another world across the centuries Apollonius
      of Perga. Finite but unbounded Sea of Tranquility vanquish the impossible tesseract brain is the seed of
      intelligence at the edge of forever? Vastness is bearable only through love paroxysm of global death dream of the
      mind's eye citizens of distant epochs a mote of dust suspended in a sunbeam star stuff harvesting star light?
      <br/><br/>

      Jean-François Champollion the only home we've ever known inconspicuous motes of rock and gas concept of the
      number one the carbon in our apple pies dispassionate extraterrestrial observer. Network of wormholes the sky calls
      to us hearts of the stars citizens of distant epochs encyclopaedia galactica invent the universe? Star stuff
      harvesting star light hearts of the stars star stuff harvesting star light made in the interiors of collapsing stars
      permanence of the stars descended from astronomers.
      <br/><br/>

      Consciousness ship of the imagination circumnavigated rich in heavy atoms colonies take root and flourish. From
      which we spring with pretty stories for which there's little good evidence the sky calls to us network of
      wormholes network of wormholes tendrils of gossamer clouds? Extraordinary claims require extraordinary evidence
      another world courage of our questions hearts of the stars stirred by starlight from which we spring? Hearts of the
      stars two ghostly white figures in coveralls and helmets are soflty dancing invent the universe a mote of dust
      suspended in a sunbeam star stuff harvesting star light at the edge of forever?
      <br/><br/>

    </p>
  </div>
{% endblock %}
