{% extends "layout.html" %}

{% block title %}
  Welcome to GoodBookBadBook
{% endblock %}

{% block body %}
  <div class="container">
    <h1>Main Page</h1>
    <p>
      Welcome to GoodBookBadBook, where you can get leads on good reads!
      <br/><br/>

      Look through all books, authors, or search for any relevant books you'd like.
      <br/><br/>

      Get ratings for each book from GoodReads.
      <br/><br/>

      Drop a review and rating for your favorite books!
      <br/><br/>

    </p>
  </div>
{% endblock %}
